<div class="parent-wrapper">
  <div>
    <div class="parent-name">Parent Component</div>
    <div class="parent-sub">Welcome...</div>

    <app-beverage [beverage]="baverageList"></app-beverage>
    <app-food [foodItems]="foodList"> </app-food>
    <app-admin
      (newBeverageEvent)="addBeverageListItem($event)"
      (newFoodEvent)="addFoodListItem($event)"
    ></app-admin>
  </div>
</div>

<!-- 
  @Input() and @Output() give a child component a way to communicate with its parent component. 

  @Input() lets a parent component update data in the child component. 

  Conversely, @Output() lets the child send data to a parent component. 
-->
